name: Build and Publish Release

on:
  workflow_dispatch:
  push:
    branches:
      - 'v*'

jobs:
  build-and-publish-pypi:
    name: Build and Publish to PyPI
    runs-on: ubuntu-latest
    environment: 
      name: publish
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "latest"

      - name: Install dependencies
        run: |
          uv sync --no-dev

      - name: Build and publish to PyPI
        run: |
          uv build
          uv publish --token ${{ secrets.PYPI_TOKEN }}

  build-and-push-docker:
    name: Build and Publish Docker Image
    runs-on: ubuntu-latest
    environment: 
      name: publish
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: docker/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            twosix26/openlist-ani:${{ github.ref_name }}
            twosix26/openlist-ani:latest
